.shop-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 260px;
    height: 232px;
    img {
        border-bottom: 1px solid black;
        width: 260px;
        height: 182px;
    }
    span {
        margin-top: 4px;
    }
}

@media screen and (max-width: 650px) {
    .shop-item {
        width: 100%;
        height: 100%;
        margin: 5%;
        img {
            width: 100%;
            height: 100%;
        }
    }
  }